*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('https://via.placeholder.com/1200x600');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero button {
    position: absolute;
    bottom: 20px;
    left: 40%;
    background-color: brown;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#topBtn {
    position: fixed;
    bottom: 15px;
    right: 2%;
    background-color: rgb(56, 165, 42);
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
}