*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.row > div {
    margin: 20px ;
}

.row > div > label {
    width: 80px;
    float: left;
    text-align: right;
    padding-right: 8px;
}



#total {
    background-color: #ddd;
    border: none;
}